*{
    margin: 0;
    padding: 0;
}
body{
    margin:0 ;
    background-color: #f1f1f1;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    top: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 120px;
    background-color: rgb(66, 66, 66);
    color: white;
    border: 2px solid rgb(154, 142, 142);
    position: fixed;

}
header h2{
    margin-top: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px ;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.4);;
}
header p{
    display: flex;
    justify-content:center;
    margin-top: 30px;
}
main{
    box-sizing: border-box;
    width: 95%;
    margin-top: 160px;
    margin-left: 20px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 80px;
}
#intro,#problem-statement,#objectives, #overview , #block-level-diagram, #achievement, #code{
    margin-left: 10px;
    margin-bottom: 50px;
    padding: 5px;
}
#intro h3{
    margin-bottom: 30px;
}
#intro p{
    margin-top: 10px;
    text-indent: 60px;
}
#problem-statement h3,#objectives, #overview , #block-level-diagram, #achievement, #code{
    color: rgb(45, 43, 43);
    margin-bottom: 20px;
}
#problem-statement p{
    text-indent: 100px;
    text-align: justify;
}
#objectives ul{
    margin-top: 20px;
}
#objectives ul > li , #achievement ul>li{
    margin-left: 50px;
    margin-top: 18px;
    list-style-type:initial;
}
#overview p{
    margin-top: 20px;
    text-indent: 100px;
    text-align: justify;
}

#block-diagram {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;
}

.block {
  background: rgb(126, 120, 120);;
  color: white;
  padding: 18px 30px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  min-width: 220px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.group {
  display: flex;
  gap: 15px;
}

.sub-block {
  background: #413949;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 0.95rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.arrow {
  font-size: 2rem;
  color: #333;
  user-select: none;
}

#project-links{
    margin-top: 30px;
    margin-bottom: 10px;
}
footer{
    position: fixed;
    bottom: 0;
    margin-top: 26px;
    width: 100%;
    height: 50px;
    background-color: rgb(66, 66, 66);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer p{
    margin-left: 60px;
    margin-top: 6px;
    margin-right: 60px;
}

